# Arquivos do Android Studio
.idea/
.gradle/
build/
*.apk
*.iml
*.hprof
local.properties

# Arquivos do Gradle
.gradle
/local.properties
/.idea/workspace.xml
/.idea/caches
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx